/*@font-face {
    font-family: 'quentincaps';
    src: url('/static/fonts/quentincaps/quentincaps-webfont.woff2') format('woff2'),
         url('/static/fonts/quentincaps/quentincaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

:root {
	--primary: black;
	--secondary: orange;
	--bluesky:rgba(14,137,210,.35);
	--midblue: rgba(14,137,210,1);
	--title: #d8e433;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Georgia, sans-serif;
}

body {
/*	background: 
	linear-gradient(purple 0%, red 90%), 
    linear-gradient(to right, purple 0%, yellow 90%),
    url(/static/img/paper-light-light.jpg);*/
    background-color: rgb(255 200 0 / 5%);
	background-position: center center;
	background-size: cover;
  	position: relative;
}

#wrapper {
	width:100%;
}

#house { 
	height: 80vh; 
	overflow: visible;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

main {
	padding: 0 1em 2em;
}

footer {
	background-color: black;
	color: whitesmoke;
	font-family: sans-serif;
	margin-top:  2em;
	padding:  3em;
	text-align:  center;
}

header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	margin-bottom:  2em;
	padding:  1em;
	text-align:  center;
}

/* Header Logo (style as h2) */
header > em {
	color: var(--title);
	display: block;
	font-family: 'Playfair Display', sans-serif;
	font-size: 2em;
	font-weight: bold;
	font-style: normal;
	text-shadow: 1px 1px var(--midblue);
}

/* Header Nav */
header nav ul {
	font-family:  sans-serif;
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}

.home h1 {
	display: none;
}

/* Contact Form */
form {
    display: grid;
	padding: 2em 0;
}

form label {
    display: none;
}

input,
textarea,
button {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
    font-family: sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}


@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}

	main {
		margin-left: auto;
		margin-right: auto;
		max-width: 60vw;
	}

	.wrapper {
		max-width: 75vw;
	}

	/***** FLEX UTILITIES *****/

	.flex {
		display: flex;
	}

	.flex-wrap {
		flex-wrap: wrap;
	}

	.align-items-center {
		align-items: center;
	}

	.row-reverse {
		flex-direction: row-reverse;
	}

	.space-around { 
		justify-content: space-around; 
	}

	.space-between { 
		justify-content: space-between; 
	}
}


/***** TREES *****/

body.trees {
	background-image: url(/static/img/bushes-dots.png), url(/static/img/bushes-front.png), url(/static/img/bushes-back.png);
	background-position: center bottom;
	background-size: cover;
	background-color: var(--bluesky);
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	text-align: center;
}

.night body { 
	background: #000; 
}