@font-face {
    font-family: 'DomaineDisplay';
    src: url('/static/fonts/Domaine/TestDomaineDisplay/test-domaine-display-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Silverfake';
    src: url('/static/fonts/Silverfake-Webfont/silverfakeregular-webfont.woff2') format('woff2'),
         url('/static/fonts/Silverfake-Webfont/silverfakeregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Matchbook';
    src: url('/static/fonts/Matchbook/matchbookregular-webfont.woff2') format('woff2'),
         url('/static/fonts/Matchbook/matchbookregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
	--primary: black;
	--secondary: orange;
	--bluesky:rgba(14,137,210,.35);
	--midblue: rgba(14,137,210,1);
	--orangered: orangered;
	--title: #d8e433;
	--darkyellow: #f2d87f;
	--text: rgb(0 0 0 / 59%);
	--white:  whitesmoke;
	--gingerbread: #ca994e;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Georgia, sans-serif;
}

body {
	color: var(--text);
	overflow-x: hidden;
  	position: relative;
}

p {
	font-size: 1.1em;
	line-height: 1.5;
}

#wrapper {
	width:100%;
}

.home main, .about main, .contact main, .order main {
	padding: 1em 1em 0;
}

.about h1 {
	display: none;
}

.about h1.show {
	display: block;
	line-height: 1;
}

.section.about-intro {
	background: var(--darkyellow);
	padding: 0;
}

.section.about-intro .left-side {
	background: palegoldenrod;
	margin:  10%;
	padding:  10%;
}

.section.about-intro .right-side {
	background: url(/static/img/joshua-doguet-kmnz1L1xSWU-unsplash.jpg) no-repeat center center;
	background-size: cover;
	height:  100%;
}

a[href],
a[href]:visited {
	color: var(--primary);
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	max-height:  600px;
}

footer {
	background-color: rgba(2, 0, 36, .8);
	color: whitesmoke;
	font-family: sans-serif;
	padding:  3em;
	text-align:  center;
}

header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding:  1em;
	text-align:  center;
}

/* Header Logo (style as h2) */
header em {
	color: var(--gingerbread);
	display: block;
	font-family: 'Matchbook', sans-serif;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	font-family:  "DomaineDisplay", serif;
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	border-radius: .25em;
	font-size:  2em;
	padding: .25em .5em;
	
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}

h1 {
	font-family: "DomaineDisplay", sans-serif;
}

.home h1 {
	display: none;
}

.section {
	font-family: "DomaineDisplay", serif;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	overflow: hidden;
	padding: 1em;
}

.section.intro {
	background: hotpink;
	color:  white;
	font-family: "Silverfake", sans-serif;
}

.section.intro p {
	font-size: 1.8em; 
	line-height:  1;
	text-align: center;
}

.section.facebook-blue {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,.8) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    url(/static/img/paper-light.jpg);
	background-position: center center;
	background-size: cover;
  	background-blend-mode: screen, difference, lighten;
}

.section.psych {
	background: 
	linear-gradient(purple 0%, red 90%), 
    linear-gradient(to right, purple 0%, yellow 90%),
    url(/static/img/paper-light.jpg);
	background-position: center center;
	background-size: cover;
  	background-blend-mode: screen, difference, lighten;
}

.section.email-signup {
	background: palegoldenrod;
	padding:  1em;
}

.section.email-signup h2 {
	color: orangered;
	font-family: "Silverfake", sans-serif;
	font-size: 1.8em; 
	line-height: 1;
	margin: 0;
	text-align: center;
}

.section.email-signup .border {
	border: 2px dotted goldenrod;
	height: 100%;
	width: 100%;
}

.has-inset-border:before {
  content: " "; /* to ensure it displays */
  position: absolute;
  left: 1em;
  right: 1em;
  top: 1e;
  bottom: 1em;
  border: 2px dotted goldenrod;
  pointer-events: none; /* user can't click on it */
}

.instagram {
	color: var(--white);
	font-size:  1em;
	text-align: center;
}

.instagram h2 {
	margin: 0;
	text-align: center;
}

.instagram h2 a {
	background: var(--white);
	border-radius: .5rem;
	color: var(--midblue);
	display: block;
	font-size: .75em;
	margin: .5em 0 -.5em 0;
	padding:  .5em;
	transition: .5s background, color ease;
}

.instagram h2 a:hover {
	background: var(--bluesky);
	color: var(--white);
}

/* Contact Form */
form {
    display: grid;
	padding: 2em 0;
}

form label {
    display: none;
}

input,
textarea,
button {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
    font-family: sans-serif;
}

input,
textarea {
	border: 0px solid black;
}

button, .button {
	border: 0px solid var(--primary);
	background-color: var(--orangered);
	color: var(--secondary);
	cursor: pointer;
	font-family: "Silverfake", sans-serif;
}

.smallsignupform p {
	font-family: "DomaineDisplay", serif;
}

.mobile-menu {
	display: flex;
	float: right;
	padding: 6px 0;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}

	main {
		margin-left: auto;
		margin-right: auto;
		max-width: 60vw;
	}

	header nav {
        min-width: 20em;
    }

	header em {
		font-size: 2em;
	}

	header nav li a {
	    font-size: 1em;
	    padding: .25em .5em;
	}

	.wrapper {
		max-width: 75vw;
	}

	.section {
		padding: 3em 10%;
	}

	.section.email-signup .border {
		padding:  0 2em;
	}

	.two-column-grid {
	  display: grid; 
	  grid-template-columns: 1fr 1fr; 
	  grid-template-rows: 1fr; 
	  gap: 0px 1em; 
	  grid-template-areas: 
	    "left-side right-side"; 
	  align-items: center; 
	}

	.left-side { grid-area: left-side; }
	.right-side { grid-area: right-side; }

	.left-side, .right-side {
		display: grid;
		justify-content: center;
	}

	.mobile-menu {
		display: none;
	}

	.essay {
		margin: 4em auto;
		max-width:  45vw;
	}

	.instagram {
		font-size: 2em;
	}

	.large-print {
		font-size:  2.2em;
	}

	.medium-print {
		font-size:  1.4em;
	}

	.medium-print h2 {
		font-size:  1.6em;
	}

}

/***** FLEX UTILITIES *****/

.flex {
	display: flex;
}

.flex p {
	flex-basis: 0;
	flex-grow: 1;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-items-center {
	align-items: center;
}

.row-reverse {
	flex-direction: row-reverse;
}

.space-around { 
	justify-content: space-around; 
}

.space-between { 
	justify-content: space-between; 
}

.full-width {
	width: 100%;
}

/***** TREES *****/

body.trees {
	background-image: url(/static/img/bushes-dots.png), url(/static/img/bushes-front.png), url(/static/img/bushes-back.png);
	background-position: center bottom;
	background-size: cover;
	background-color: var(--bluesky);
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	text-align: center;
}

.night body { 
	/*background: #000; */
}