:root {
	--primary: black;
	--secondary: orange;
	--bluesky:rgba(14,137,210,.35);
	--midblue: rgba(14,137,210,1);
	--title: #d8e433;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

body {
	background-image: url(/static/img/bushes-dots.png), url(/static/img/bushes-front.png), url(/static/img/bushes-back.png);
	background-position: center bottom;
	background-size: cover;
	background-color: var(--bluesky);
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	text-align: center;
}

.night body { 
	background: #000; 
}

#wrapper {
}

#house { 
	height: 80vh; 
	overflow: visible;
}

main {
	max-width: 40em;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

/* Header Logo (style as h2) */
header > em {
	color: var(--title);
	display: block;
	font-family: "Playfair Display", serif;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
	text-shadow: 1px 1px var(--midblue);
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: white;
}

/* Contact Form */
form {
    display: grid;
	padding: 2em 0;
}

form label {
    display: none;
}

input,
textarea,
button {
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
    font-family: sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}

	main {
		margin-left: auto;
		margin-right: auto;
		height: 100vh;
		overflow: hidden;
		width: 100vw;
	}
}
