#viewport {
	display: flex;
	height: 75vh;
	position:relative;
	text-align: center;
}

#viewport p, #viewport li {
	height: 65vh;
	text-align: center;
	width: 100%;
}

#viewport p img, #viewport li img {
	max-width: 300px;
	opacity: 0;
	transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

#viewport p img.fadedIn, #viewport li img.fadedIn { 
  	opacity: 1;
}

button {
	display: grid;
	height: 100%;
	padding: 0;
    width: 2em;
}

#caption {
	padding: 1em 0;
}

@media screen and (min-width:768px) {

	#viewport {
		height: 70vh;
	}

	#viewport p img, #viewport li img{ 
		height: 100%;
		max-width: inherit;
		width: auto;
	}

	button {
		display: grid;
		height: 100%;
		padding: 0;
	    width: 2em;
	}

	#buttonNext {
		outline:  3px dashed yellowgreen;
	}
}
