#viewport{
  display: grid;
  grid-template-columns: 0.2fr 2.6fr 0.2fr;
  grid-template-rows: 1fr;
  gap: 0em 0em;
  grid-auto-flow: row;
  grid-template-areas:
    "buttonLeft viewportCenter buttonRight";
  height:  320px;
  width: 360px;
  /*overflow: hidden;*/
}

#buttonLeft { grid-area: buttonLeft; }

.viewportCenter { 
	grid-area: viewportCenter;
	position: relative; 
	height: 30vh;
}

#buttonRight { grid-area: buttonRight; }


#viewport p, #viewport li {
	height: 30vh;
	text-align: center;
	width: 100%;
}

#viewport div p img, #viewport div li img {
	/*border-radius:  2em;*/
	border:  1em solid white;
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.25);
	height:  320px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

#viewport p img.fadedIn, #viewport li img.fadedIn { 
  	opacity: 1;
}

#viewport button {
	background-color: transparent;
	border-width: 0px;
	display: grid;
	height:  320px;
	line-height: 320px;
	padding: 0;
  width: 100%;
  white-space: nowrap;
}

#caption {
	padding: 1em 0;
}

@media screen and (min-width:768px) {

	#viewport {
	}

	#viewport p img, #viewport li img{ 
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		width: auto;
	}

	#viewport button {
		display: grid;
		vertical-align: middle;
		height: 100%;
		padding: 0;
	   width: 100%;
	}
}
