#viewport{
  display: grid;
  grid-template-columns: 0.2fr 2.6fr 0.2fr;
  grid-template-rows: 1fr;
  gap: 0em 0em;
  grid-auto-flow: row;
  grid-template-areas:
    "buttonLeft viewportCenter buttonRight";
  width: 100%;
  height: 90vh;
}

#buttonLeft { grid-area: buttonLeft; }

.viewportCenter { 
	grid-area: viewportCenter;
	position: relative; 
}

#buttonRight { grid-area: buttonRight; }


#viewport p, #viewport li {
	height: 65vh;
	text-align: center;
	width: 100%;
}

#viewport div p img, #viewport div li img {
	border-radius:  2em;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

#viewport p img.fadedIn, #viewport li img.fadedIn { 
  	opacity: 1;
}

#viewport button {
	background-color: transparent;
	border-width: 0px;
	display: grid;
	height: 100%;
	padding: 0;
    width: 100%;
    line-height: 100vh;
  	white-space: nowrap;
}

#caption {
	padding: 1em 0;
}

@media screen and (min-width:768px) {

	#viewport {
		height: 70vh;
	}

	#viewport p img, #viewport li img{ 
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		width: auto;
	}

	#viewport button {
		display: grid;
		vertical-align: middle;
		height: 100%;
		padding: 0;
	    width: 100%;
	}
}
