<section>
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<h3>
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title }}
					{% endif %}
				</a>
			</h3>
			{% if post.data.summary %}
				<p>
					{{ post.data.summary }}
				</p>
					{% if post.data.image %}
						{{ post.data.image }}
					{% endif %}
			{% endif %}
			<p>
				<time datetime="{{ post.date | machineDate }}">
					<small>{{ post.date | readableDate }} by <a href="/authors/{{ post.data.author | slug }}/">{{ post.data.author }}</a></small>
				</time>
			</p>
		</article>
	{% endfor %}
</section>

<!-- Pagination links -->
<div>
  {% if pagination.previousPageHref %}
    <a href="{{ pagination.previousPageHref }}" class="page-numbers">Newer posts.</a>
  {% else %}
    <span class="page-numbers"></span>
  {% endif %}
  <span>
    Page {{ pagination.pageNumber + 1 }} of {{ pagination.links | length  }}.
  </span>
  {% if pagination.nextPageHref %}
    <a href="{{ pagination.nextPageHref }}" class="page-numbers">Older posts.</a>
  {% else %}
    <span class="page-numbers"></span>
  {% endif %}
  <ul class="pagination">
  {%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
  {%- endfor %}
  </ul>
</div>