---
layout: layouts/base.njk
pageType: page
section: page
---
<h1>{{ title }}</h1>

<div id="viewport">
	<button id="buttonLeft">&#10094;</button>
	<div class="viewportCenter">{{ layoutContent | safe }}</div>
	<button id="buttonRight">&#10095;</button>
</div>
<div class="flex row-reverse space-between">
	<div id="caption"></div>
</div>
